{{> tableCart products=cart.products}}
<button class="btn btn-primary" onclick=actionGoToPay()>Pagar</button>

<script>
    function actionGoToPay() {
        window.location = "/carts/{{user.cart}}/purchase";
    }
</script>