<form action="/api/sessions/login" method="post">
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input name="email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="inputPassword">
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>
<form action="/api/sessions/github" method="post">
    <button type="submit" class="btn btn-dark">Iniciar sesión con Github</button>
</form>
<button class="btn btn-success" onclick="forgotPassword()">Olvide contraseña</button>