{{> tableProducts }}
<script src="socket.io/socket.io.js"></script>
<script>
    const socket = io();
    let products = [];

    document.addEventListener("DOMContentLoaded", function () {
        socket.on('products', (initialProducts) => {
            products = initialProducts;
            refreshTable();
        });

        socket.on('create-product', ({ product }) => {
            Swal.fire({
                icon: 'success',
                title: 'Producto creado',
                text: "" + product._id + " - " + product.title,
                timer: 1500,
                timerProgressBar: true
            });
            products.push(product);
            refreshTable();
        });

        socket.on('delete-product', ({ _id }) => {
            Swal.fire({
                icon: 'warning',
                title: 'Producto eliminado',
                text: "ID: " + _id,
                timer: 1500,
                timerProgressBar: true
            });
            products = products.filter(product => product._id !== _id);
            refreshTable();
        });

        function refreshTable() {
            const tbody = document.getElementById("tableProductsBody");
            tbody.innerHTML = "";
            products.forEach((product) => {
                const row = document.createElement("tr");
                row.innerHTML = `<td>${product._id}</td>
                                <td>${product.title}</td>
                                <td>${product.description}</td>
                                <td>${product.code}</td>
                                <td>${product.price}</td>
                                <td>${product.status}</td>
                                <td>${product.stock}</td>
                                <td>${product.category}</td>`;

                tbody.appendChild(row);
            });
        }
    });

</script>