<form action="/api/sessions/register" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" name="email">
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword" name="password">
    </div>
    <!--<div class="mb-3">
        <label for="inputConfirmPassword" class="form-label">Confirmar contraseña</label>
        <input type="password" class="form-control" id="inputConfirmPassword">
    </div>-->
    <div class="mb-3">
        <label for="inputFirstName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputFirstName" name="first_name">
    </div>
    <div class="mb-3">
        <label for="inputLastName" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="inputLastName" name="last_name">
    </div>
    <div class="mb-3">
        <label for="inputBirthDate" class="form-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="inputBirthDate" name="birth_date">
    </div>
    <button type="submit" class="btn btn-primary">Registrar usuario</button>
</form>