<div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" disabled
        value="{{email}}">
</div>
<div class="mb-3">
    <label for="inputPassword" class="form-label">New password</label>
    <input name="password" type="password" class="form-control" id="inputPassword">
</div>
<div class="mb-3">
    <label for="inputVerifyPassword" class="form-label">Verify password</label>
    <input name="password" type="password" class="form-control" id="inputVerifyPassword">
</div>

<button class="btn btn-primary" onclick="changePassword()">Cambiar contraseña</button>

<script>
    const token = `{{token}}`
    const email = `{{email}}`
    function changePassword() {

        if (inputPassword.value != inputVerifyPassword.value) {
            Swal.fire(`Las contraseñas no coinciden`);
            return;
        }

        fetch('/api/sessions/reset-password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                token: token,
                password: inputPassword.value
            })
        }).then(response => response.json())
            .then(data => {
                Swal.fire(`Se envio un email a su correo ${email}`);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
</script>